[class*="zocial-"]::before {
  display: inline-block;
  font-family: "zocial", sans-serif;
  text-shadow: 3px 3px 3px #aaa;
  width: 2em;
}

#social {
  line-height: 2em;
}

#social a {
  margin: 0 1em 0 0;
}

body {
  font-family: "Source Code Pro", monospace;
  color: #2d3c49;
  font-weight: 500;
}

p {
  text-align: left;
}

#title-main-feature {
  color: red;
  padding: 1em 0;
  font-size: 18px;
  text-align: center;
}

picture {
  margin: 1em 0 1em 0;
}

.arts {
  border-bottom: 2px solid #ddd;
}

header {
  border-bottom: 4px solid #ddd;
  margin-bottom: 4px;
}

.text-splitted {
  color: #7d97ad;
}

.text-thin {
  font-weight: 200;
}

.title-super {
  font-size: 60px;
}

.title-logo {
  margin-top: 30px;
}
